<div class="p-6 flex flex-col gap-3 items-center">
 <div class="flex flex-col justify-center items-center mb-3">
    <h1 class="text-3xl font-bold text-center mb-6">Rick & Morty Characters Hub</h1>
  
    <div class="flex gap-4 justify-center mb-6">
        <input type="text" placeholder="Pesquisar por nome..." class="p-2 rounded bg-gray-800 text-white" #nameInput>
  
        <select class="p-2 rounded bg-gray-800 text-white" #statusSelect>
           @for (statusMeta of characterStatusMeta; track $index) {
            <option [value]="statusMeta.status">{{ statusMeta.translation }}</option>
           }
        </select>
  
        <button class="p-2 bg-blue-600 rounded" (click)="loadCharacters()">Buscar</button>
    </div>

    @if (queryInfo) {
        <p class="text-gray-400">Total de personagens: {{ queryInfo?.count }}</p>
    }
 </div>

 @if (characters) {
    <app-characters-list [characters]="characters"/>

    <div class="join">
        @if (currentPage > 1) {
            <button class="join-item btn" (click)="changePage()">«</button>   
        }
    
        <button class="join-item btn">Página {{currentPage}}</button>
    
        @if (currentPage < queryInfo.pages) {
            <button class="join-item btn" (click)="changePage(true)">»</button>
        }
    </div>
 } @else {
   <span class="text-2xl text-gray-500 mt-20">Não existem personagens para os filtros selecionados</span>
 }
